# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Datasets (Ignore contents but keep the folder structure if needed)
backend/temp_datasets/*
!backend/temp_datasets/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
